@model  prjNightMarket.Models.Member
@{
    ViewBag.Title = "會員註冊";
}

<h2>會員註冊</h2>

@using(Html.BeginForm())
{
    <p>
        帳號：@Html.TextBoxFor(model => model.UserId, new {@class="form-control",required="required"})
    </p>
    <p>
        密碼：@Html.TextBoxFor(model => model.Pwd, new { @class = "form-control", required = "required" })
    </p>
    <p>
        姓名：@Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
    </p>
    <p>
        信箱：@Html.TextBoxFor(model => model.Email, new { @class = "form-control" , type="email", required = "required" })
    </p>
    <p>
        生日：@Html.TextBoxFor(model => model.BirthDay, new { @class = "form-control", type = "date", required = "required" })
    </p>
    <p>
        <input type="submit" value="註冊" class="btn btn-success" />
    </p>
    <hr />
    <p>@Html.Raw(ViewBag.Msg)</p>
}

